/* Poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Open Sans  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#f4921b, #f4921b);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f4921b;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: #f4921b;
}

.fc-scroller {
  @apply !scrollbar-hide;
}

.fc-today-button {
  @apply !bg-transparent !text-gray-900 !font-medium !border-none;
}

.fc-prev-button,
.fc-next-button {
  @apply !bg-transparent !text-gray-900 !font-medium !border-none !p-0;
}

.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-Liste-button {
  @apply !bg-gray-300 !text-gray-700 !border-none !ml-1;
}

.fc-dayGridMonth-button.fc-button-active,
.fc-timeGridWeek-button.fc-button-active,
.fc-Liste-button.fc-button-active {
  @apply !bg-custom-l3;
}

.fc-day-today {
  @apply !bg-custom-l2;
}

.fc-timegrid-axis {
  /* @apply !hidden; */
}

.fc-toolbar-title {
  @apply !text-sm 2xl:!text-lg font-medium capitalize;
}
